@media screen and (min-width: 300px) and (max-width: 800px){
    .f_1_6 {
        flex-direction: column;
    }

    .f_2_6 {
        width: 100%;
        height: 100%;
        margin-left: 1%;
    }

    .e6 {
        width: 30.3%;
    }

    .f6 {
        width: 100%;
        height: 96%;
    }
}